<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412387496472-le3h6uk8fa6bmef7v1662qaj5joi7h4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412387496472-le3h6uk8fa6bmef7v1662qaj5joi7h4r</string>
	<key>API_KEY</key>
	<string>AIzaSyA79CZsY5NOP754JQjz07ZPgTt1Oj4o2Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>412387496472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saldochecker</string>
	<key>PROJECT_ID</key>
	<string>saldochecker</string>
	<key>STORAGE_BUCKET</key>
	<string>saldochecker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412387496472:ios:2ff56511c69f3e8dfe296d</string>
</dict>
</plist>